.DS_Store
/.build
/.build-ubuntu
/Packages
/config.json
/spec.json
./config/localdev-config.json
.build/*
.build-ubuntu/*
*.xcodeproj/*
Package.resolved
.DS_Store
iOS/FoodTracker/FoodTracker.xcodeproj/*
iOS/FoodTracker/FoodTracker.xcworkspace/*
iOS/FoodTracker/Pods
