.DS_Store
/.build
/.build-ubuntu
/Packages
/config.json
/spec.json
./config/localdev-config.json
.build/*
.build-ubuntu/*
FoodTrackerBackend/FoodServer/FoodServer.xcodeproj/*
FoodTrackerBackend/Package.resolved
FoodTrackerBackend/iOS/FoodTracker/FoodTracker.xcworkspace/*
FoodTrackerBackend/iOS/FoodTracker/Pods
FoodTrackerBackend/iOS/FoodTracker/Podfile.lock
FoodTrackerBackend/iOS/FoodTracker/FoodTracker.xcodeproj/xcuserdata/


